<div class="ftco-section bg-light" id="blog">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center"  data-aos="fade-up">
          <h2>Our Blog</h2>
        </div>
      </div>
      <div class="row" data-aos="fade-up">
        <div class="carousel owl-carousel ftco-owl">
        {% for post in site.posts %}
          <div class="item">
            <div class="blog-entry" data-aos="fade-up" data-aos-delay="200">
              <a href="{{ post.url }}" class="block-20" style="background-image: url('assets/images/{{ post.imagen }}.jpg');">
              </a>
              <div class="text">
                <h3 class="heading"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <div class="meta">
                  <div><a href="{{ post.url }}"><span class="icon-calendar"></span> {{ post.date | date: "%m/%d/%Y" }}</a></div>
                  <div><a href="{{ post.url }}"><span class="icon-person"></span>{{ post.author}}</a></div>
                  <div><a href="{{ post.url }}"><span class="icon-chat"></span> 19</a></div>
                </div>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </div>
</div>