<div class="ftco-section ftco-counter" id="section-counter">
      <div class="container">
        <div class="row">

        {% for items in site.data._numbers.numbers %}
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
            <div class="block-18 d-flex align-items-center">
              <div class="icon mr-4">
                <span class="flaticon-lawyer"></span>
              </div>
              <div class="text">
                <strong class="number" data-number="{{ items.value }}">0</strong>
                <span>{{ items.title }}</span>
              </div>
            </div>
          </div>
        {% endfor %}

          <!--
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
            <div class="block-18 d-flex align-items-center">
              <div class="icon mr-4">
                <span class="flaticon-handshake"></span>
              </div>
              <div class="text">
                <strong class="number" data-number="12000">0</strong>
                <span>Trusted Clients</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
            <div class="block-18 d-flex align-items-center">
              <div class="icon mr-4">
                <span class="flaticon-medal"></span>
              </div>
              <div class="text">
                <strong class="number" data-number="10000">0</strong>
                <span>Won Cases</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap" data-aos="fade-up">
            <div class="block-18 d-flex align-items-center">
              <div class="icon mr-4">
                <span class="flaticon-trophy"></span>
              </div>
              <div class="text">
                <strong class="number" data-number="12921">0</strong>
                <span>Honor &amp; Awards</span>
              </div>
            </div>
          </div> -->
        </div>
    </div>
</div>