  <!-- Footer section -->

  <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">

<!-- {% include _additionalfooter.html %} -->

      <div class="row">
        <div class="col-md-12 text-center">
        <div id="div_top_socials">
         <nav>
                <ul id="ul_top_socials" class="et-social-icon" style="padding-left: 0px;">
                    <li style="padding-right: 5px;"><a href="{{ site.twitter }}"><i class="fab fa-lg fa-twitter"></i></a></li>
                    <li style="padding-right: 5px;"><a href="{{ site.github }}"><i class="fab fa-lg fa-github"></i></a></li>
                    <li style="padding-right: 5px;"><a href="{{ site.instagram }}"><i class="fab fa-lg fa-instagram"></i></a></li>
                    <li style="padding-right: 5px;"><a href="{{ site.linkedin }}"><i class="fab fa-lg fa-linkedin"></i></a></li>
                </ul>
            </nav>
        </div>
          <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="flaticon-brain" aria-hidden="true"></i> by <a href="www.digitalebrain.com" target="_blank" class="text-primary">DigitaleBrain</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END Footer -->