
<section class="ftco-section-2" id="history">
      <div class="container-fluid">
        <div class="section-2-blocks-wrapper row no-gutters">
          <div class="img col-sm-12 col-md-6" style="background-image: url('assets/images/bubbles.jpg');" data-aos="fade-right">
            <!-- <a href="https://vimeo.com/45830194" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="700"><span class="ion-ios-play"></span></a> -->
          </div>
          <div class="text col-md-6">
            <div class="text-inner align-self-start" data-aos="fade-up">

            {{ page.content }}

            </div>
          </div>
        </div>
      </div>
</section>