<div class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center"  data-aos="fade-up">
          <h2>Our Staff</h2>
        </div>
      </div>
      <div class="row">
      {% for items in site.data._staff.staff %}
        <div class="col-sm-6 col-md-4" data-aos="fade-up">
          <div class="block-10">
            <div class="person-info mb-3">
              <span class="name">{{ items.name }}</span>
              <span class="position">{{ items.position }}</span>
            </div>
            <img src="assets/images/{{ items.imagen }}.jpg" alt="" class="img-fluid">
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
</div>