<div class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center"  data-aos="fade-up">
          <h2>Our Attorneys</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4" data-aos="fade-up">
          <div class="block-10">
            <div class="person-info mb-3">
              <span class="name">Myla Smith</span>
              <span class="position">Counsel</span>
            </div>
            <img src="images/person_1.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6 col-md-4" data-aos="fade-up">
          <div class="block-10">
            <div class="person-info mb-3">
              <span class="name">Aldin Powell</span>
              <span class="position">Head of International Practice</span>
            </div>
            <img src="images/person_3.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6 col-md-4" data-aos="fade-up">
          <div class="block-10">
            <div class="person-info mb-3">
              <span class="name">Clarice Clark</span>
              <span class="position">Managing Partner, Attorney</span>
            </div>
            <img src="images/person_2.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
</div>